*
{font-family: Arial, Helvetica, sans-serif}

h1 {font-size: 60px; font-weight: 700; text-align: center; color: #8fe2a8}

img { height: 700px; width: auto}

div.image {text-align: center; font-weight: 700}

a {text-decoration: none; font-size: 25px; color: #2eecc3}

h2 {font-size: 40px; font-weight: 700; color: #18b5ca}

p, li {font-size: 22px; color: #1874ca; font-weight: 500; line-height: 33px}


