*
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;

}

body {
    background-image: url("images/bright_squares.webp");
    background-color: lightgray;
}

h1 {
    font-size: 60px; 
    font-weight: 700; 
    text-align: center; 
    color: #8fe2a8;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, .5);
    margin: 0px;
}

h2 {
    font-size: 40px; 
    font-weight: 700; 
    color: #18b5ca;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, .5);
}


img { 
    height: auto; 
    max-height: 700px;
    max-width: 700px;
    width: auto;
    border-style: solid;
    border-width: 5px;
    border-top-color: lightcoral;
    border-right-color: lightgreen;
    border-bottom-color: whitesmoke;
    border-left-color: black;
    margin: 20px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .5);  
}

div.container {
    background-image: url("images/card.png");
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color: lightseagreen;
    width: 800px;
    margin: 50px auto;
    padding: 60px 40px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .5),   

}

div.image {
    text-align: center;
}

a {
    text-decoration: none; 
    font-weight: 700; 
    font-size: 25px; 
    color: white;
    
}

li.home {
    text-align: center;
    }

ul.home {
    list-style-type: none;
}

p, li.recipes {
    font-size: 22px; 
    color: #1874ca; 
    font-weight: 600; 
    }


button {
    display: inline-block;
    margin: 15px;
    padding: 15px 50px;
    width: 350px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .5);
    background-color: lightseagreen;
    border-color: lightseagreen;
    border-style: groove;
    border-width: 5px;
    transition: 0.7s;
}

button.recipe {
    display: block;
    margin: 30px auto;
    padding: 15px 50px;

}

button:hover {
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .5);
    background-color: darkcyan;
    transition: 0.7s;
}

button:active {
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .5);
    background-color: rgb(2, 73, 73);
    transition: 0.7s;
}
